version: '3'

services:

  postgres:
    container_name: postgres
    image: postgres:14.1-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USERNAME: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_volume:/var/lib/postgresql/data\

  redis:
    image: redis:7-alpine
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379

  todo-api:
    image: pestrikv/todo-api
    ports:
      - 8082:8082
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresql:5433/
    depends_on:
      - postgres
      - redis

volumes:
  postgres_volume:
  redis_data:
